<div class="row">
    <div class="col-sm-8">
        <%= form_for @article, url: articles_path do |f| %>
            <div class="form_content">
                <%= f.label :title, "文章标题" %>
                <%= f.text_field :title, class: "form-control" %>
 
                <%= f.label :content, "文章内容" %>
                <%= f.text_area :content, class: "form-control", style: "resize:none;", rows: 10 %>
            </div>
            <%= f.submit "提交", class: "btn btn-primary" %>
        <% end %>
    </div>
    <div class="col-sm-4">
    </div>
</div>